fastapi
uvicorn[standard]
langchain
langchain_huggingface
langchain-community
langchain-core
langchain-qdrant
langchain-openai
qdrant-client
sentence-transformers
pypdf
python-dotenv
openai
psycopg2-binary
sqlalchemy
pydantic
httpx
beautifulsoup4
slowapi
PyPDF2
python-docx
python-multipart
pymupdf